<% layout("/layouts/boilerplate") %>

<style>
    .custom-card {
        box-shadow: 1px 3px 7px 5px #808080f7;
        width: 70vh;
        margin: auto;
        border-radius: 20px;
        padding: 20px;
        height: auto;
    }


@media (max-width: 500px) {
    .custom-card{
        margin-left: 1.75rem;
        width: 85%;
    }

    .custom-card h2{
        font-size: 1.25rem;
    }
}
</style>

<div class="row mb-4" style="margin-top: 7rem;">
    <div class="custom-card">

        <h2>Forgot Password</h2>

        <div class="col-12">
            <form action="/forgot-password" method="POST">
                <div class="form-group mt-3 mb-3">
                    <label for="email" class="mb-2">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    
    </div>
</div>