<% layout("/layouts/boilerplate") %>

<style>
    .custom-card {
        box-shadow: 1px 3px 7px 5px #808080f7;
        width: 70vh;
        margin: auto;
        border-radius: 20px;
        padding: 20px;
        height: auto;
    }


@media (max-width: 500px) {
    .custom-card{
        margin-left: 1.75rem;
        width: 85%;
    }

    .custom-card h2{
        font-size: 1.25rem;
    }
}
</style>

<div class="row mb-4" style="margin-top: 5rem;">

    <div class="custom-card">

        <h2>Reset Password</h2>

        <div class="col-12">

            <form action="/reset-password/<%= token %>" method="POST">
                <div class="form-group mt-3 mb-3">
                    <label for="password" class="mb-2">New Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <div class="form-group mt-3 mb-3">
                    <label for="confirm" class="mb-2">Confirm New Password</label>
                    <input type="password" name="confirm" id="confirm" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Reset Password</button>
            </form>

        </div>
    </div>
</div>